Thumbs.db
*.obj
*.user
*.aps
*.pch
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in/
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
_NCrunch_*/
[Tt]est[Rr]esult*/
*.vsp
*.psess
/[Bb]inaries/
ServiceDefinition.build.csdef
StyleCop.Cache
*.sln
!all.sln
!LogCollectionAgent.sln
*.sln.DotSettings
!all.sln.DotSettings
*.ncrunchsolution
*.ncrunchproject
*.err
*.wrn
